body {
  display: grid;
  font-family: arial, sans-serif;
  font-size: 14px;
  background-color: #fff;
  height: 100%;
  margin: 0;
  padding: 0;
}

nav {
  top: 0;
  position: absolute;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

.left-nav {
  position: relative;
  vertical-align: middle;
  left: 1%;
  top: 20px;
}

.right-nav {
  position: relative;
  margin-right: 1%;
}

main {
  margin: auto;
}

.google-logo {
  position: relative;
  top: 150px;
  display: grid;
}

.search-form {
  position: relative;
  top: 160px;
}

.search-box input[type="textarea"] {
  position: relative;
  width: 90%;
  left: 20px;
  text-align: left;
  border: hidden;
  outline: none;
  font-size: 16px;
}

.search-box {
  position: relative;
  left: -50px;
  width: 400px;
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  margin-bottom: 10px;
  height: 44px;
}

.search-box:hover {
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

.search-buttons {
  width: 300px;
  display: flex;
  justify-content: space-around;
  height: 35px;
}
#btn {
  padding: 0 14px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  font-size: 14px;
  color: #3c4043;
}

footer {
  background: #f2f2f2;
  font-size: 14px;
  line-height: 40px;
  position: absolute;
  display: inline-flex;
  justify-content: space-between;
  bottom: 0;
  width: 100%;
  margin: auto;
  text-align: center;
  border-top: 1px solid #dadce0;
}

footer a {
  text-align: center;
  font-size: 18px;
  color: #70757a;
  padding-left: 30x;
  padding-right: 30px;
}

.footer-left {
  position: relative;
  vertical-align: middle;
  left: 1%;
}

.footer-right {
  position: relative;
  vertical-align: middle;
  right: 1%;
}

.footer-centre {
  position: relative;
}

a {
  text-decoration: none;
  color: rgb(12, 12, 12);
  opacity: o.75;
  padding-right: 10px;
}

a:hover {
  text-decoration: underline;
}

nav a:hover {
  color: #3c4043;
}

.sign-in {
  background-color: rgb(33, 125, 230);
  margin: 10px;
  padding: 10px 15px;
  border: 1px solid;
  border-radius: 2px;
  font-weight: bold;
  outline: none;
  color: white;
}

.google-apps-icon {
  width: 10px;
}
